.drawer {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0%;
  height: 100%;
  width: 35%;
  border-start-start-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
  &__titulo {
    @extend .drawer__titulo;
    background-color: #26c6da;
  }

  &__contenido {
    overflow-y: auto;
  }

  &__acciones {
    display: none;
    border-top: 1px solid rgba(16, 24, 64, 0.23);
    background-color: #dddddd;
    transition: transform 0.5s ease;
  }
}

.hidden {
  transform: translateY(100%);
}

.visible {
  transform: translateY(0);
}

.xd {
  height: 500px;
}

.prueba{
  font-weight: 600;
  font-size: 1.6;
  line-height: 1.4;
  letter-spacing: 0.0075em;
  font-family: 'Nunito';
}