<div class="drawer-container">
  <div
    class="drawer column nowrap mb-1 justify-content-between mat-elevation-z24"
    [ngClass]="{'animaciones__cerrarDrawer': !cerrar, 'animaciones__mostrarDrawer': cerrar }"
  >
    <div
      class="drawer__titulo row justify-content-between align-items-center px-3 py-2 gap-4"
      
    >
      <ng-container *ngTemplateOutlet="nombreEmpresa"></ng-container>
      <ng-container *ngTemplateOutlet="drawerEncabezado"></ng-container>
    </div>

    <div class="drawer__contenido nowrap column py-2 px-3 gap-4"
    (click)="mostrarAcciones()"
    >
    
    <ng-container
    *ngTemplateOutlet="drawerContenido"
      ></ng-container>
    </div>

    <div
      class="drawer__acciones row mt-1 py-2 px-3 gap-4"
      [ngClass]="{'animaciones__ocultarAcciones': !acciones, 'animaciones__mostrarAcciones': acciones }"        
      [class.justify-content-end]="alignEnd"
    >
      <ng-container
        *ngTemplateOutlet="drawerAcciones"
      ></ng-container>
    </div>
  </div>
</div>
<ng-template #nombreEmpresa>
  <span class="color-text-primary h6"  *ngIf="titulo">{{ titulo }}</span>
  <button mat-icon-button size="small" >
    <mat-icon size="small" (click)="cerrarDrawer()"

    >close</mat-icon>
  </button>
</ng-template>
