@use "sass:map";

@mixin animaciones($x, $y) {
  transform: translate(#{$x}, #{$y});
}

.drawer-container{
  height: 550px;
}

.drawer {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom:0;
  left: 0%;
  height: 100%;
  width: 35%;
  border-radius: 0 8px 0 0;
  background-color: #ffffff;
  overflow: hidden;

  &__titulo {
    @extend .drawer__titulo;
    background-color: #26c6da;
  }

  &__contenido {
    overflow-y: auto;
  }

  &__acciones {
    border-top: 1px solid rgba(16, 24, 64, 0.23);
    background-color: #dddddd;
    transition: transform 0.5s ease;
  }
}

.drawer-end {
  top: 0;
  bottom: 0;
  left: 65% !important;
  border-radius: 8px 0 0 0 !important;
  .drawer__titulo {
    border-radius: inherit;
  }
}

.animaciones {
  &__ocultarAcciones {
    @include animaciones(0%, 100%);
    height: 0%;
  }
  &__mostrarAcciones {
    @include animaciones(0%, 0%);
  }
}
