@use 'sass:map';

$border-radius:4px;
$size-container-icon:36px;

.container-icon-ripple{
    align-self: center;
    height: $size-container-icon;
    width: $size-container-icon;
    border-radius: 50%;
}

.mat-mdc-progress-bar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    border-bottom-right-radius:$border-radius;
    border-bottom-left-radius:$border-radius;
}


